{% macro thumb_git_file(width, height, filepath, git_url, sha) %}
    <img
        src="http://localhost:8080/media/thumb.jpg:{{ width }}x{{ height }}/?url={{ git_url }}%3C{{ sha }}%3E%3C{{ filepath }}%3E"
        width="{{ width }}" height="{{ height }}"
        omnic-thumb 
    />
{% endmacro %}

{% macro file_listing(git_url, git_sha, items) %}
    {% for item in items %}
        <div class="omnic-git--item {% if item.type == "directory" %}omnic-git--directory{% endif %}
        ">
            {% if item.type == "directory" %}
                <div class="omnic-git--path">
                    {{ item.path|basename }}/
                </div>

                <div class="omnic-git--subdir">
                    {{ file_listing(git_url, git_sha, item.children) }}
                </div>
            {% else %}
                <div class="omnic-git--preview-thumb">
                    {{ thumb_git_file(80, 80, item.path, git_url, git_sha) }}
                </div>
                <div class="omnic-git--path">
                    {{ item.path|basename }}
                </div>
                <div class="omnic-git--size">
                    {{ item.size }}b
                </div>
                <div class="omnic-git--sha">
                    {{ item.sha }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

<div class="omnic-git--root">
    {{ file_listing(root.git_url, root.git_sha, root.children) }}
</div>
